<%= provide :navbar do %>
    <!-- Site header -->
    <nav class=" border-gray-200 bg-gradient-to-r dark:from-gray-900 dark:to-gray-800">
        <div class="flex flex-wrap justify-between items-center mx-auto lg:max-w-screen-xl p-4 space-y-2">
            <!-- Main title -->
            <%= link_to root_path, class: 'grid grid-rows-2 grid-flow-col mb-1 space-y-2' do %>
                <span class="self-center text-3xl lg:text-4xl font-semibold whitespace-nowrap dark:text-white">Vladimir Malakutsko</span>
                <span class="self-center text-sm font-semibold whitespace-nowrap text-gray-600 dark:text-gray-200">Старший медицинский массажист <br>Прикладной кинезеолог</span>
            <% end %>
            <div class="flex items-center justify-between space-x-4 w-full lg:w-auto">
                <!-- Dark mode toggle -->
                <%= render 'shared/dark_mode_toggle'%>
                <!-- Location -->
                <span class="flex items center dark:text-gray-200 text-xl">
                    <%= heroicon 'map-pin', class: 'w-6 h-6 mr-1'%>
                    Турция, г. Аланья
                </span>
                <!-- Locales -->
                <%= render 'shared/locales'%>
            </div>
        </div>
    </nav>
    <!-- Navbar -->
    <nav class="bg-gray-100 dark:bg-gray-700">
        <div class="max-w-screen-xl px-4 py-3 mx-auto">
            <div class="flex items-center justify-between">
                <!-- Content navigation -->
                <ul class="flex flex-row font-medium space-x-3 lg:space-x-8 text-sm">
                    <%= render 'shared/navigations/content_links_list', 
                        link_class: " hover:underline", 
                        current_page: current_page
                    %>
                </ul>
                <!-- Social links -->
                <ul class="hidden sm:flex items-center font-medium mt-0 mr-6 space-x-5 lg:space-x-8 text-sm justify-end">
                    <%= render 'shared/navigations/social_links'%>
                </ul>
            </div>
        </div>
    </nav>
<% end %>