
<!-- Instagram -->
<li>
    <%= link_to '#' do %>
        <%= image_tag asset_path("icons/social/icons8-instagram-48.png"), 
        class: 'w-5 h-5 rounded-full hover:shadow-lg hover:shadow-gray-200'%>
    <% end %>
</li>
<!-- Facebook -->
<li>
    <%= link_to '#' do %>
        <%= image_tag asset_path("icons/social/icons8-facebook-48.png"), 
            class: 'w-5 h-5 rounded-full hover:shadow-lg hover:shadow-gray-200'%>
    <% end %>
</li>
<!-- Telegram -->
<li>
    <%= link_to '#' do %>
        <%= image_tag asset_path("icons/social/icons8-telegram-app-50.png"), 
            class: 'w-5 h-5 rounded-full hover:shadow-lg hover:shadow-gray-200'%>
    <% end %>
</li>
