<!-- Locales -->
<div data-controller="dropdown" class="relative">
  <button type="button" data-dropdown-toggle="language-dropdown-menu"
      class="flex items-center whitespace-nowrap text-base font-medium text-gray-500 hover:text-gray-900 dark:hover:text-white">
      <%= image_tag("icons/locales/icons8-#{I18n.locale}-48.png", class: 'w-6 h-6', alt: "#{I18n.locale}-flag")%>
      <svg aria-hidden="true" class="w-4 h-4 ml-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
  </button>

  <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700" id="language-dropdown-menu">
    <ul class="py-1 text-sm w-full text-gray-700 bg-white rounded-lg shadow-lg dark:bg-gray-700 mr-4">
      <% I18n.available_locales.each do |locale| %>
          <li>
            <% if I18n.locale == locale %>
              <div class="flex items-center w-full font-medium block px-4 py-2 text-sm text-gray-800 dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-600 flex items-center rounded-md"
                   role="menuitem">
                  <%= image_tag("icons/locales/icons8-#{locale}-48.png", 
                    class: "w-5 h-5 mr-2",
                    alt: "#{locale}-flag") %>
                  <%= t(locale)%>
              </div>
            <% else %>
              <%= link_to url_for(locale: locale),
                    class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white flex items-center rounded-md",
                    role: "menuitem",
                    data: {action: "dropdown#toggle", 
                    turbo: false} do 
              %>
                  <%= image_tag("icons/locales/icons8-#{locale}-48.png", 
                    class: "w-5 h-5 mr-2", alt: "#{locale}-flag")%>
                  <%= t(locale)%>
              <% end %>
            <% end %>
          </li>
      <% end %>
    </ul>
  </div>
</div>
