<!DOCTYPE html>
<html class="scroll-smooth">
  <head>
    <title>Malakutsko</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://kit.fontawesome.com/beb7fb2ec9.js" data-mutate-approach="sync"></script>
  </head>

  <body class="flex flex-col h-screen w-screen justify-between">
        <!-- Navbar -->
        <%= yield :navbar%>
        <!-- Content -->
        <main class=" mx-auto w-screen">
            <%= yield %>
        </main>
        <!-- Footer -->
        <%= yield :footer%>
  </body>
</html>
